<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <PNR_TaxCloud>
            <version>1.0.0</version>
        </PNR_TaxCloud>
    </modules>
    <frontend>
        <routers>
            <pnr_taxcloud>
                <use>standard</use>
                <args>
                    <module>PNR_TaxCloud</module>
                    <frontName>tax</frontName>
                </args>
            </pnr_taxcloud>
        </routers>
    </frontend>
    <global>
        <blocks>
            <pnr_taxcloud>
                <class>PNR_TaxCloud_Block</class>
            </pnr_taxcloud>
        </blocks>
        <models>
            <taxcloud>
                <class>PNR_TaxCloud_Model</class>
                <resourceModel>taxcloud_resource</resourceModel>
            </taxcloud>
            <taxcloud_resource>
                <class>PNR_TaxCloud_Model_Resource</class>
                <deprecatedNode>taxcloud_mysql4</deprecatedNode>
                <entities>
                    <exemption>
                        <table>taxcloud_exemptions</table>
                    </exemption>
                </entities>
            </taxcloud_resource>
            <tax>
                <rewrite>
                    <calculation>PNR_TaxCloud_Model_Calculation</calculation>
                </rewrite>
            </tax>
        </models>
        <helpers>
            <taxcloud>
                <class>PNR_TaxCloud_Helper</class>
            </taxcloud>
        </helpers>
        <resources>
            <taxcloud_setup>
                <setup>
                    <module>PNR_TaxCloud</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </taxcloud_setup>
        </resources>
        <events>
            <customer_address_save_before>
                <observers>
                    <taxcloud>
                        <type>singleton</type>
                        <class>taxcloud/observer</class>
                        <function>scrubAddress</function>
                    </taxcloud>
                </observers>
            </customer_address_save_before>
            <sales_order_invoice_pay>
                <observers>
                    <taxcloud>
                        <type>singleton</type>
                        <class>taxcloud/observer</class>
                        <method>handleInvoicePay</method>
                    </taxcloud>
                </observers>
            </sales_order_invoice_pay>
            <sales_order_payment_place_end>
                <observers>
                    <taxcloud>
                        <type>singleton</type>
                        <class>taxcloud/observer</class>
                        <method>handlePayment</method>
                    </taxcloud>
                </observers>
            </sales_order_payment_place_end>
            <sales_order_payment_refund>
                <observers>
                    <taxcloud>
                        <type>singleton</type>
                        <class>taxcloud/observer</class>
                        <method>handleRefund</method>
                    </taxcloud>
                </observers>
            </sales_order_payment_refund>
<!--            <sales_order_item_cancel>
                <observers>
                    <taxcloud>
                        <type>singleton</type>
                        <class>taxcloud/observer</class>
                        <method>handleItemCancel</method>
                    </taxcloud>
                </observers>
            </sales_order_item_cancel> -->
        </events>
        <fieldsets>
            <sales_convert_quote>
                <tax_exemption_id>
                    <to_order>*</to_order>
                </tax_exemption_id>
            </sales_convert_quote>
            <sales_convert_order>
                <tax_exemption_id>
                    <to_order>*</to_order>
                </tax_exemption_id>
            </sales_convert_order>
        </fieldsets>
    </global>
    <frontend>
        <layout>
            <updates>
                <pnr_taxcloud module="PNR_TaxCloud">
                    <file>pnr_taxcloud.xml</file>
                </pnr_taxcloud>
            </updates>
        </layout>
    </frontend>
    <default>
        <tax>
            <taxcloud>
                <active>0</active>
                <wsdl>https://api.taxcloud.net/1.0/?wsdl</wsdl>
                <tic>20020</tic>
            </taxcloud>
        </tax>
    </default>
</config>